body {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column;
    height: 100vh;
    background: rgb(4,25,6);
    background: linear-gradient(0deg, rgba(4,25,6,1) 0%,
     rgba(14,50,19,1) 56%, rgba(25,87,34,1) 100%); 
     font-family: Helvetica, sans-serif;
    

}

body h1  {

    color: white;
    


}

#display_img {

    width: 318px;
    height: 318px;
    border: 1px solid black;
    border-radius: 4px;
    background-position: center;
    background: rgb(227,226,226);
    background: linear-gradient(112deg, rgba(227,226,226,1) 0%, rgba(218,218,218,1) 100%); 
    background-size: cover;
    -webkit-box-shadow: -1px -1px 43px -2px;
    box-shadow: -1px -1px 43px -2px;

}

p.button {


    background-color: #f1f0f0;
    border: none;
    color: white;
    /*padding: 15px 32px;*/
    text-align: center;
    /*text-decoration: none;*/
    /*display: inline-block;*/
    font-size: 8px;
    
}

p.pred {

    font-size: 14px;
    color: white;
    text-align: center;

}